<h1>Notes#show</h1>
<p>Find me in app/views/notes/show.html.erb</p>
<%= @notes.title %>
<%= @notes.body %>
<%= link_to 'Back', notes_path %>

<%= form_for @notes do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  
    <%= f.label :body %>
    <%= f.text_area :body %>
  
    <%= f.submit %>
  <% end %>